@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
        url("../fonts/RobotoSlab-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    color: #1f222c;
    font-family: "Roboto", serif;
}

input,
select,
button,
textarea {
    margin: 0;
    appearance: none;
    outline: none;
    box-sizing: border-box;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"] {
    background: #ffffff url(../icon/calendar.svg) no-repeat right 12px center;

}

textarea {
    min-height: 40px;
    resize: vertical;
    vertical-align: bottom;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.form-block {
    margin: 50px 0;
}

h1 {
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-family: "Roboto", sans-serif;
}

label {
    margin: 0;
}

a {
    color: #3e6aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #e9e9e9;
}

input::placeholder,
textarea::placeholder {
    color: #b3b3b3;
    font-family: "Roboto";
}

.button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 3px;
    background-color: #12d661;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.button:hover {
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 13px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.input:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
}

.input:focus {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
}

.badge {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
}

.badge select {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.badge::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-2.5px);
    right: 15px;
    border: 5px solid transparent;
    border-top-color: #1f222c;
}

.text-color {
    color: #b3b3b3;
}

.check {
    margin: 0;
}

.check:hover+label {
    cursor: pointer;
}

.check+label {
    position: relative;
    padding-left: 25px;
}

.check+label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transform: translateY(-50%);
}

.check:disabled+label:before {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.check:checked+label::before {
    border: 1px solid #3e6aff;
}

.check:checked+label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4.5px;
    width: 7px;
    height: 5px;
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    transform: translateY(-65%) rotate(-45deg);
}

.rad:hover+label {
    cursor: pointer;
}

.rad+label {
    position: relative;
    padding-left: 25px;
}

.rad+label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.rad:disabled+label:before {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.rad:checked+label::before {
    border: 1px solid #3e6aff;
}

.rad:checked+label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
}

.text-Ñolor {
    color: #b3b3b3;
}

.background {
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.check-btn+label {
    position: relative;
    padding-left: 65px;
}

.check-btn:hover+label {
    cursor: pointer;
}

.check-btn+label::before {
    content: "";
    position: absolute;
    top: -1.5px;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
    transition: all 0.5s ease;
}

.check-btn:checked+label::before {
    background-color: #3e6aff;
}

.check-btn+label::after {
    content: "";
    position: absolute;
    top: 0.2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

.check-btn:checked+label::after {
    left: 22.5px;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.5));
}

.retreat-icon {
    margin-bottom: 65px;
}

.retreat-btn {
    margin-bottom: 32px;
}

/*first form */
.width {
    max-width: 330px;
}

/*second form */
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.radio p,
.checkbox p {
    margin: 9px 0;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
}

ul>li:first-child {
    font-weight: 700;
}

.date {
    width: 150px;
    margin-left: 30px;
    padding: 9px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.width2 {
    width: 470px;
    padding: 18px;
}

/* third form */
.flex-items {
    width: 50%;
}

.check-icon+label {
    position: relative;
    padding-left: 85px;
}

.check-icon:hover+label {
    cursor: pointer;
}

.check-icon+label::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #e8e8e8;
}

.check-icon:checked+label::before {
    background-color: #e8e8e8;
    border: 2px solid #3e6aff;
    box-sizing: border-box;
}

.retreat-icon .check-icon+label::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 13px;
    width: 45px;
    height: 60px;
    border-radius: 16px;
    background: url(../icon/men.svg) no-repeat;
    transition: all 1s ease;
}

.retreat-icon .check-icon:checked+label::after {
    background: url(../icon/menColor.svg) no-repeat;
}

.check-icon+label::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 45px;
    height: 60px;
    border-radius: 20px 15px;
    background: url(../icon/women.svg) no-repeat;
    transition: all 1s ease;
}

.check-icon:checked+label::after {
    background: url(../icon/womenColor.svg) no-repeat;
}

/* fourth form */
/* table {
    border-collapse: collapse;
} */

th {
    padding: 20px 0;
}

.doble-form>td {
    padding: 0;
}

.doble-form>th {
    padding-bottom: 25px;
    color: #1f222c;
    font-size: 18px;
    font-weight: 700;
}

.doble-form td:last-child {
    width: 341px;
}

.file+label {
    padding: 13px 37px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    background-color: #3e6aff;
}

.file:hover+label {
    cursor: pointer;
    filter: drop-shadow(0px 2px 2.5px rgba(15, 40, 126, 0.35));
    background-color: #2857f4;
}

.doble-form tr:nth-child(7) td:first-child {
    padding-top: 30px;
    vertical-align: top;
}

/*fifth form*/
.width5 {
    max-width: 680px;
    width: 100%;
    border-spacing: 0 5px;
}

.width5 th {
    text-align: left;
}

.width5 td {
    color: #b3b3b3;
    font-size: 13px;
}

.width5 td:nth-child(2) {
    padding: 0 10px;
}

.width5 tr .padding-right {
    padding-right: 0;
}

.width5 tr:nth-child(3) td,
.width5 tr:nth-child(8) td {
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.width5 tr:nth-child(4) td,
.width5 tr:nth-child(8) td,
.width5 tr:last-child td {
    padding-top: 25px;
}

.width5 tr:nth-child(5) td {
    padding-bottom: 18px;
}

.width-btn {
    max-width: 180px;
    padding: 14.5px;
}

.align-right {
    text-align: right;
}

.button-reset {
    padding: 14px 25px;
    color: #6e6f77;
    background-color: #ffffff;
    border: 1px solid #85868d;
    border-radius: 3px;
    font-weight: 700;
    transition: all 1px ease;
}

.button-reset:hover {
    color: #fff;
    background-color: #85868d;
    cursor: pointer;
}


.line {
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background-color: #cccccc;
    top: 11px;
    right: 34px;
}

/* last form */
.fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.width6 {
    position: relative;
    width: 310px;
    padding: 24px;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
}

.close::before,
.close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: #b3b3b3;
}

.close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.open-block {
    display: none;
    top: 80%;
    right: 10.5%;
    width: 30px;
    height: 30px;
    border: 3px solid #12d661;
    border-radius: 50px 30px 30px;
    transition: all 1s ease;
}

.open-block::after,
.open-block::before  {
    content: "";
    position: absolute;
    width: 20px;
    left: 6px;
    height: 4px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.open-block::after{
    top: 18px;
}
.open-block::before {
    top: 9px;
}